# @package __global__

defaults:
  # Full fledged evaluation is heavier than we want for Github Actions.
  - override /eval: smoke_test

run: github_test
device: cpu
vectorization: serial

trainer:
  num_workers: 1
  update_epochs: 1
  batch_size: 1024
  minibatch_size: 1024
  forward_pass_minibatch_target_size: 2
  async_factor: 1
  checkpoint_interval: 1
  bptt_horizon: 8
  num_steps: 32
  total_timesteps: 2
  evaluate_interval: 1
  replay_interval: 1
  # Don't actually try to upload the replay.
  replay_dry_run: true

wandb:
  enabled: false
  track: false
