# @package __global__

device: cpu
vectorization: serial

trainer:
  batch_size: 1024
  minibatch_size: 1024
  forward_pass_minibatch_target_size: 2
  checkpoint:
    checkpoint_interval: 10
  bptt_horizon: 8
