_target_: rl.pufferlib.trainer.PufferTrainer

defaults:
  - trainer

resume: true
use_e3b: false

total_timesteps: 50_000_000_000

clip_coef: 0.1
ent_coef: 0.002
gae_lambda: 0.9
gamma: 0.97
learning_rate: 0.0006
max_grad_norm: 0.5
vf_clip_coef: 0.1
vf_coef: 0.5
l2_reg_loss_coef: 0
l2_init_loss_coef: 0

norm_adv: true
clip_vloss: true
target_kl: null
anneal_lr: false

zero_copy: true
verbose: true


batch_size: 262144
minibatch_size: 4096
bptt_horizon: 16
update_epochs: 1

cpu_offload: false
compile: false
compile_mode: reduce-overhead

forward_pass_minibatch_target_size: 2048
async_factor: 2

stats:
  overview:
    episode/reward.mean: episode_reward
  step: train/agent_step

kickstart: true
kickstart_steps_pct: 0.005
teachers:
  - policy_uri: wandb://run/mettabox_cogeval_defaults_lowent_initialized0005:v100
    action_coef: 1
    value_coef: 1
  # - policy_uri: wandb://run/b.simple.standard.multi.discrete.2.20.24.r1
  #   action_coef: 1
  #   value_coef: 1