_target_: metta.rl.pufferlib.trainer.PufferTrainer

defaults:
  - trainer

resume: true
use_e3b: false

total_timesteps: 50_000_000_000

clip_coef: 0.1
ent_coef: 0.002
gae_lambda: 0.9
gamma: 0.97

optimizer:
  type: adam
  # type: muon
  beta1: 0.9
  beta2: 0.999
  eps: 1e-5
  learning_rate: 0.0006

max_grad_norm: 0.5
vf_clip_coef: 0.1
vf_coef: 0.5
l2_reg_loss_coef: 0
l2_init_loss_coef: 0

norm_adv: true
clip_vloss: true
target_kl: null
anneal_lr: false

zero_copy: true
require_contiguous_env_ids: false
verbose: true

batch_size: 262144
minibatch_size: 4096
bptt_horizon: 16
update_epochs: 1

cpu_offload: false
compile: false
compile_mode: reduce-overhead

forward_pass_minibatch_target_size: 2048
async_factor: 2

stats:
  overview:
    episode/reward.mean: episode_reward
  step: train/agent_step

kickstart:
  teacher_uri: null
  action_loss_coef: 1
  value_loss_coef: 1
  kickstart_steps: 50_000_000
  additional_teachers:
    # - teacher_uri: wandb://run/mettabox_cogeval_defaults_lowent_initialized0005:v100
    #   action_loss_coef: 1
    #   value_loss_coef: 1
    #  - teacher_uri: wandb://run/mettabox_cogeval_defaults_lowent_initialized0005:v95
    #    action_loss_coef: 1
    #    value_loss_coef: 1
