num_workers: ???

initial_policy:
  uri: null
  type: top
  range: 1
  metric: epoch
  filters: {}

checkpoint_dir: ${run_dir}/checkpoints

glicko_scores_path: ${run_dir}/eval/glicko2

evaluate: true
evaluate_interval: 10