# This file is used to describe who owns what in this repository.
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# CI, formatting, linting
/.github @rjwalters
/ruff.toml @rjwalters

# MettaScope
/mettagrid/player @treeform @daveey

# DevOps
/devops/tf @daveey @berekuk
/devops @daveey

# Specific packages
/mettagrid/mettagrid/map @sasmith @berekuk
/mettagrid/mettagrid @sasmith

/metta/agent @Al-does @daveey
/metta/rl @Al-does @daveey

# Everything else
* @sasmith
