**/.envrc
**/*.egg-info
**/*.pyc
**/*.so
**/__pycache__
**/.DS_Store
.coverage
.env
.task
.vscode/PythonImportHelper-v2-Completion.json
checkpoints
mettagrid/dist
mettagrid/multirun
cython_debug
outputs
replays
stats.profile
train_dir
metta-research
gpu_names_cache.json
stderr.log
sweep_id
personal/
wandb
terrain_maps_nohearts*
.idea
.coverage.*
build/
build_debug/
.venv
**/*benchmark_results.json
**/requirements_to_remove.txt
test_data
**/mettagrid_debug.log
cpplint_output*

mettascope/dist

**/node_modules
/observatory/.vite/

wandb

# Ignore .metta directory at root (used temporarily during docker build)
/.metta
