*.egg-info
*.pyc
*.so
__pycache__
.DS_Store
.coverage
.env
.task
.vscode/PythonImportHelper-v2-Completion.json
/build_debug/
/build/
/checkpoints/
/deps/mettagrid/dist
/deps/mettagrid/player/dist
/deps/mettagrid/player/node_modules
/deps/mettagrid/multirun
/wandb
cython_debug
deps
outputs
replays
stats.profile
train_dir
metta-research
gpu_names_cache.json
stderr.log
sweep_id
personal/
