{
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "parser": "yaml",
        "singleQuote": false,
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "trailingComma": "none",
        "bracketSpacing": true,
        "proseWrap": "preserve",
        "endOfLine": "lf",
        "arrowParens": "avoid"
      }
    },
    {
      "files": ["*.sh"],
      "options": {
        "parser": "sh",
        "plugins": ["prettier-plugin-sh"],
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": true,
        "endOfLine": "lf",
        "indent": 2,
        "keepComments": true,
        "keepPadding": false,
        "functionNextLine": false,
        "switchCaseIndent": true,
        "spaceRedirects": true
      }
    }
  ]
}