{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": [".vscode/*.json", "*.code-workspace"],
      "options": {
        "parser": "jsonc"
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "parser": "yaml",
        "printWidth": 100,
        "singleQuote": false
      }
    },
    {
      "files": ["*.sh"],
      "options": {
        "parser": "sh",
        "plugins": ["prettier-plugin-sh"],
        "printWidth": 100,
        "singleQuote": true,
        "functionNextLine": false,
        "switchCaseIndent": true,
        "spaceRedirects": true
      }
    },
    {
      "files": ["*.toml"],
      "options": {
        "parser": "toml",
        "plugins": ["prettier-plugin-toml"],
        "printWidth": 100,
        "singleQuote": true
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "parser": "markdown",
        "printWidth": 120,
        "proseWrap": "always",
        "tabWidth": 2
      }
    }
  ]
}
