[project]
name = "metta"
version = "0.1"
description = "Metta AI framework"
readme = "README.md"
requires-python = "==3.11.7"

[tool.setuptools]
packages = ["metta", "pufferlib", "fast_gae", "mettagrid"]

[tool.setuptools.package-dir]
metta = "metta"
pufferlib = "deps/pufferlib"
fast_gae = "deps/fast_gae"
mettagrid = "mettagrid"

[tool.setuptools.dynamic]
dependencies = { file = ["requirements.txt"] }

[tool.coverage.run]
source = ["mettagrid", "metta"]

[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = ["test_*.py"]
python_functions = ["test_*"]
python_classes = ["Test*"]
addopts = "--cov=mettagrid --cov=metta --cov-report=term"
filterwarnings = ["ignore::DeprecationWarning:wandb.analytics.sentry"]
