[project]
name = "metta"
version = "0.1"
description = "Metta AI framework"
readme = "README.md"
requires-python = "==3.11.7"
license = "MIT"

[tool.setuptools]
packages = ["metta", "mettagrid"]

[tool.setuptools.package-dir]
metta = "metta"
mettagrid = "mettagrid"

[tool.setuptools.dynamic]
dependencies = { file = ["requirements.txt", "requirements_pinned.txt"] }

[tool.coverage.run]
source = ["mettagrid", "metta"]

[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = ["test_*.py"]
python_functions = ["test_*"]
python_classes = ["Test*"]
filterwarnings = ["ignore::DeprecationWarning:wandb.analytics.sentry"]
