boto3
# chex
fast_gae
hydra-core
imageio
jmespath
matplotlib
mettagrid
# numpy==2.0.0
pettingzoo
puffergrid
pufferlib
sample_factory
pynvml
pytest
PyYAML
raylib
rich
scipy
tabulate
tensordict
torchrl
