repositories:
  - name: external-dns
    url: https://kubernetes-sigs.github.io/external-dns/
  - name: cert-manager
    url: https://charts.jetstack.io
  - name: ingress-nginx
    url: https://kubernetes.github.io/ingress-nginx
  - name: metrics-server
    url: https://kubernetes-sigs.github.io/metrics-server/
  - name: skypilot
    url: git+https://github.com/Metta-AI/skypilot@charts?ref=softmax-0.10.3
  # - name: skypilot-beta
  #   url: git+https://github.com/Metta-AI/skypilot@charts?ref=softmax-0.10.3
  - name: datadog
    url: https://helm.datadoghq.com

releases:
  ########## System configurations ##########
  - name: system
    chart: ./system
    version: 0.1.0
    namespace: kube-system
    values:
      - nodePools:
          jobs:
            enabled: true

  ########## Core infrastructure ##########
  - name: external-dns
    chart: external-dns/external-dns
    version: 1.17.0
    namespace: external-dns
    values:
      - env:
          - name: AWS_DEFAULT_REGION
            value: us-east-1
        serviceAccount:
          annotations:
            # created by terraform
            eks.amazonaws.com/role-arn: arn:aws:iam::751442549699:role/external-dns

  - name: cert-manager
    chart: ./cert-manager
    version: v1.18.1
    namespace: cert-manager
    values:
      - installCRDs: true

  - name: ingress-nginx
    chart: ingress-nginx/ingress-nginx
    version: 4.11.3
    namespace: ingress-nginx
    values:
      # The initial version of these values is borrowed from skypilot chart.
      # Comments below come from skypilot chart too. (Probably could be simplified since we're committed to AWS.)
      # Since we use ingress-nginx for more than just skypilot, we install it separately.
      - controller:
          service:
            type: LoadBalancer
            # Default annotations for the ingress controller service. We want an L4 loadbalancer by default for maximum compatibility,
            # especially for websocket SSH tunneling. Different cloud providers may require different annotations.
            # Annotations with no side effects are aggregated below to simplify the usage.
            annotations:
              # For AWS service reconciled by cloud-controller-manager, use NLB by default.
              # If you are using AWS Load Balancer Controller, refer to the following doc to configure annotations:
              # https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/service/annotations/
              service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
              # For GKE, use backend service-based external passthrough Network Load Balancer as per best practices.
              # Ref: https://cloud.google.com/kubernetes-engine/docs/concepts/service-load-balancer#load_balancer_types
              cloud.google.com/l4-rbs: "enabled"
              # For Azure, override the healthz check protocol to TCP probe to avoid HTTP auth issues.
              service.beta.kubernetes.io/port_443_health-probe_protocol: "TCP"
              service.beta.kubernetes.io/port_80_health-probe_protocol: "TCP"
              service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
          config:
            # necessary for observatory, we strip headers in observatory-api ingress
            allow-snippet-annotations: true
            http-snippet: |
              map $http_upgrade $connection_upgrade {
                  default upgrade;
                  ''      close;
              }

  - name: metrics-server
    chart: metrics-server/metrics-server
    version: 3.12.2
    namespace: metrics-server

  - name: prometheus
    chart: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
    version: 75.15.1
    namespace: monitoring
    values:
      - ./helm.values/prometheus-values.yaml

  - name: datadog
    chart: datadog/datadog
    version: 3.75.0
    namespace: monitoring
    values:
      - ./helm.values/datadog-values.yaml

  ########## Skypilot ##########
  - name: skypilot
    chart: skypilot/skypilot
    version: 0.0.0
    namespace: skypilot
    values:
      - ./helm.values/skypilot-values.yaml

  # Uncomment the following section if you want to test a new skypilot release or configuration.
  # Deploy with `helmfile apply -i -l name=skypilot-beta`.
  #
  # You'll need to copy some secrets to the new namespace:
  #
  # for s in lambda-ai-credentials aws-credentials softmax-infra-oauth; do
  #   kubectl get secret $s --namespace=skypilot -o yaml | sed 's/namespace: .*/namespace: skypilot-beta/' | kubectl apply -f -
  # done

  # - name: skypilot-beta
  #   chart: skypilot-beta/skypilot
  #   version: 0.0.0
  #   namespace: skypilot-beta
  #   values:
  #     - ./helm.values/skypilot-values.yaml
  #     - apiService:
  #         image: berkeleyskypilot/skypilot:0.10.3
  #       rbac:
  #         manageRbacPolicies: false
  #         manageSystemComponents: false
  #       ingress:
  #         host: skypilot-api-beta.softmax-research.net

  ########## Softmax apps ##########
  - name: orchestrator
    chart: ./orchestrator
    version: 0.1.0
    namespace: observatory
    hooks:
      - events: ["presync"]
        command: "kubectl"
        args: ["create", "namespace", "orchestrator", "--dry-run=client"]

  - name: home
    chart: ./home
    version: 0.1.0
    namespace: home
    hooks:
      - events: ["presync"]
        command: "kubectl"
        args: ["create", "namespace", "home", "--dry-run=client"]
  # Note: Observatory is deployed automatically by Github Actions.

  - name: library
    chart: ./library
    version: 0.1.0
    namespace: library

  - name: dashboard-cronjob
    chart: ./dashboard-cronjob
    version: 0.1.0
    namespace: monitoring

  - name: replay-mining-cronjob
    chart: ./replay-mining-cronjob
    version: 0.1.0
    namespace: monitoring
