defaults:
  - /env/mettagrid/mettagrid_deterministic@
  - _self_

game:
  num_agents: 4
  max_steps: 200
  agent:
    ore.red_max: 1
    ore.blue_max: 1
    ore.green_max: 1
    battery.red_max: 1
    battery.blue_max: 1
    battery.green_max: 1
    rewards:
      action_failure_penalty: 0
      ore.red: 0.005
      battery.red: 0.01
      ore.blue: 0.005
      battery.blue: 0.01
      ore.green: 0.005
      battery.green: 0.01
      heart: 1
      heart_max: 1000

  map_builder:
    _target_: metta.mettagrid.room.multi_room.MultiRoom
    num_rooms: ${..num_agents}
    border_width: 6

    room:
      _target_: mettagrid.room.terrain_from_numpy.TerrainFromNumpy
      border_width: 3
      agents: 1
      dir: varied_terrain/sparse_small

      objects:
        altar: 2
        mine.red: 3
        generator.red: 3
  objects:
    altar:
      cooldown: 50
      input_battery.red: 1
      output_heart: 1
      max_output: 1
      conversion_ticks: 1
      initial_items: 0
    mine.red:
      cooldown: 10
      output_ore.red: 1
      max_output: 1
      conversion_ticks: 1
      initial_items: 1
    generator.red:
      cooldown: 50
      input_ore.red: 1
      output_battery.red: 1
      max_output: 1
      conversion_ticks: 1
      initial_items: 0
