defaults:
  - /env/mettagrid-base/mettagrid@
  - _self_
  
game:
  num_agents: 20
  max_steps: 250

  map_builder:
    _target_: mettagrid.config.room.multi_room.MultiRoom
    num_rooms: 20
    room:
      _target_: mettagrid.config.room.cognitive_evals.labyrinth.LabyrinthMaze
      width: 35
      height: 35
      corridor_width: 3
      onlyhearts: true

  objects:
    altar:
      cooldown: 255
