@layer theme, base, components, utilities;

/* no preflight for now */
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}
