defaults:
  - /env/mettagrid/mettagrid@
  - _self_

agents: 1

game:
  num_agents: 1
  max_steps: 700
  map_builder:
      _target_: mettagrid.room.ascii.Ascii
      border_width: 1
  agent:
    rewards:
      heart: 0.95
      ore.red: 0
    max_inventory: 100
    freeze_duration: 0

  objects:
    altar:
      input_battery: 1
      output_heart: 1
      max_output: 1
      conversion_ticks: 1
      cooldown: 255
      initial_items: 0

    mine.red:
      hp: 30
      output_ore.red: 1
      color: 0
      max_output: 1
      conversion_ticks: 1
      cooldown: 1
      initial_items: 1

    generator.red:
      hp: 30
      input_ore.red: 1
      output_battery: 3
      color: 0
      max_output: 3
      conversion_ticks: 1
      cooldown: 1
      initial_items: 0
