_target_: metta.rl.pufferlib.eval.Eval

policy_uri: ???
env: ???
env_overrides: null
npc_policy_uri: null
policy_agents_pct: 1.0

device: ${device}
vectorization: ${vectorization}

num_envs: 50
num_episodes: 50
max_time_s: 60

name: null
eval_db_uri: ${eval_db_uri}
selector_type: top #evaluate the best version of the policy. For all versions, use "all"