defaults:
  - cogeval_defaults

game:
  num_agents: 8  #how many agents are in the map x2

  map_builder:

    _target_: mettagrid.config.room.multi_room.MultiRoom
    num_rooms: 2
    room:
      _target_: mettagrid.config.room.ascii.Ascii
      border_width: 1
      uri: "configs/env/mettagrid/maps/navigating_obstacles.map"
