defaults:
  - /env/mettagrid/mettagrid@

sampling: 1
game:
  num_agents: 16
  max_steps: 78
  agent:
    rewards:
      heart: 1
  map_builder:
    _target_: metta.mettagrid.room.multi_room.MultiRoom
    num_rooms: 2
    room:
      _target_: metta.mettagrid.room.ascii.Ascii
      border_width: 1
      uri: "configs/env/mettagrid/maps/memory/memory_training/easy.map"

  objects:
    altar:
      cooldown: 255
      initial_items: 1
