defaults:
  - /env/mettagrid/mettagrid@

game:
  num_agents: 16
  max_steps: 45
  agent:
    rewards:
      heart: 0.333
  map_builder:
    _target_: metta.mettagrid.room.multi_room.MultiRoom
    num_rooms: 2
    room:
      _target_: metta.mettagrid.room.ascii.Ascii
      border_width: 1
      uri: "configs/env/mettagrid/maps/memory_training/easy.map"

  objects:
    altar:
      cooldown: 255
