defaults:
  - /env/mettagrid/object_use/evals/defaults@
  - _self_

game:
  max_steps: 80
  map_builder:
    root:
      params:
        objects:
          altar: 1

  objects:
    altar:
      initial_resource_count: 1
      cooldown: 255
