defaults:
  - /env/mettagrid/mettagrid@
  - _self_

game:
  num_agents: 1
  max_steps: ???
  agent:
    rewards:
      inventory:
        heart: 1
  map_builder:
    _target_: mettagrid.room.mean_distance.MeanDistance
    width: 11
    height: 11
    mean_distance: 6
    border_width: 3
    agents: 1

  objects:
    altar:
      input_battery.red: 1
      output_heart: 1
      max_output: 5
      conversion_ticks: 1
      cooldown: ${sampling:1, 20, 10}
      initial_items: 0

    mine.red:
      output_ore.red: 1
      color: 0
      max_output: 5
      conversion_ticks: 1
      cooldown: ${sampling:0, 100, 50}
      initial_items: 1

    generator.red:
      input_ore.red: 1
      output_battery.red: 1
      color: 0
      max_output: 5
      conversion_ticks: 1
      cooldown: ${sampling:0, 50, 25}
      initial_items: 0
