defaults:
  - /env/mettagrid/object_use/evals/defaults@
  - _self_

game:
  max_steps: 200
  agent:
    rewards:
      heart: 1
      ore_red: 0
      battery_red: 0
  objects:
    generator_red:
      initial_resource_count: 0
      cooldown: 1
    altar:
      initial_resource_count: 0
      cooldown: 255
    mine_red:
      cooldown: 1

  map_builder:
    root:
      params:
        objects:
          altar: 1
          generator_red: 1
          mine_red: 1
