defaults:
  - /env/mettagrid/mettagrid@
  - _self_

game:
  num_agents: 1
  max_steps: 200
  agent:
    rewards:
      heart: 1
      battery: 0

  objects:
    generator.red:
      initial_items: 0
      output_battery: 3
      cooldown: 1
    altar:
      initial_items: 0
      cooldown: 255
    mine:
      cooldown: 1

  map_builder:
    _target_: mettagrid.room.mean_distance.MeanDistance
    width: 11
    height: 11
    mean_distance: 6
    border_width: 3

    agents: 1

    objects:
      altar: 1
      generator: 1
      mine: 1
