defaults:
  - /env/mettagrid/object_use/evals/defaults@
  - _self_

game:
  max_steps: 200
  agent:
    rewards:
      inventory:
        heart: 1
        ore_red: 0
        battery_red: 0
  objects:
    generator.red:
      initial_items: 0
      output_battery.red: 1
      cooldown: 1
    altar:
      initial_items: 0
      cooldown: 255
    mine.red:
      cooldown: 1
      output_ore.red: 1


  map_builder:
    objects:
      altar: 1
      generator.red: 1
      mine.red: 1
