defaults:
  - /env/mettagrid/object_use/evals/defaults@
  - _self_

game:
  max_steps: 100
  objects:
    generator_red:
      initial_resource_count: 0
      cooldown: 255
    mine_red:
      cooldown: 255
  agent:
    rewards:
      battery_red: 1
      ore_red: 0
      ore_blue: 0
      ore_green: 0
  map_builder:
    root:
      params:
        objects:
          generator_red: 1
          mine_red: 1
