defaults:
  - /env/mettagrid/object_use/evals/defaults@
  - _self_

game:
  max_steps: 100
  objects:
    generator:red:
      initial_items: 0
      cooldown: 255
    mine:
      cooldown: 255
  agent:
    rewards:
      battery:red: 1
      ore:red: 0
      ore:blue: 0
      ore:green: 0
  map_builder:
    objects:
      generator: 1
      mine: 1
