defaults:
  - /env/mettagrid/object_use/evals/defaults@
  - /env/mettagrid/game/objects/combat@game.objects
  - _self_

game:
  max_steps: 200
  agent:
    rewards:
      inventory:
        laser: 1
        ore_red: 0
        battery_red: 0
  objects:
    generator_red:
      initial_resource_count: 2
      output_resources:
        battery_red: 2
      cooldown: 255
    mine_red:
      cooldown: 255
    lasery:
      initial_resource_count: 0

  map_builder:
    root:
      params:
        objects:
          lasery: 1
          generator_red: 1
          mine_red: 1
