defaults:
  - /env/mettagrid/object_use/evals/defaults@
  - _self_

game:
  max_steps: 200
  agent:
    rewards:
      laser: 1
      ore.red: 0
      battery.red: 0
  objects:
    generator.red:
      initial_items: 2
      output_battery.red: 2
      cooldown: 255
    mine.red:
      cooldown: 255
    lasery:
      initial_items: 0

  map_builder:
    objects:
      lasery: 1
      generator.red: 1
      mine.red: 1
