
defaults:
  - ../../mettagrid@

game:
  num_agents: 20

  agent:
    rewards:
      laser: 3

  objects:
    generator:
      initial_items: 2
      output_battery: 2

  map_builder:
    _target_: mettagrid.config.room.multi_room.MultiRoom
    num_rooms: 20
    border_width: 3

    room:
      _target_: mettagrid.config.room.mean_distance.MeanDistance
      width: 15
      height: 15
      mean_distance: 6
      border_width: 3

      agents: 1

      objects:
        lasery: 1
        mine: 1
        generator: 1