_target_: metta.map.mapgen.MapGen

width: 100
height: 120

root:
  type: metta.map.scenes.bsp.BSP
  params:
    rooms: 20
    min_room_size: 3
    min_room_size_ratio: 0.5
    max_room_size_ratio: 0.9

  children:
    - limit: 1
      lock: lock1
      scene:
        type: metta.map.scenes.random.Random
        params:
          objects:
            generator_red: 3
            altar: 3

    - limit: 3
      lock: lock1
      scene:
        type: metta.map.scenes.random.Random
        params:
          agents: 2

    - limit: 2
      lock: lock1
      scene:
        type: metta.map.scenes.maze.Maze
        params:
          room_size: 2
        # TODO - entrypoint can be blocked because the corridor is attached randomly
        # Should the maze scene accept an entrypoint somehow?

    # fix bugs with Maze connection points
    - where: full
      scene:
        type: metta.map.scenes.make_connected.MakeConnected
