_target_: metta.map.mapgen.MapGen

width: ${sampling:20,80,40}
height: ${sampling:20,80,40}

root:
  type: metta.map.scenes.room_grid.RoomGrid
  params:
    rows: 2
    columns: 2

  children:
    - scene:
        type: metta.map.scenes.maze.MazeKruskal

        children:
          - where:
              tags:
                - top-left
            scene:
              type: metta.map.scenes.inline_ascii.InlineAscii
              params:
                data: '@' # agent
          - where:
              tags:
                - bottom-right
            scene:
              type: metta.map.scenes.inline_ascii.InlineAscii
              params:
                data: '_' # altar
