_target_: metta.map.mapgen.MapGen

border_width: 1
width: ${sampling:10,40,17}
height: ${sampling:10,40,17}

instances: 4
instance_border_width: 5

root:
  type: metta.map.scenes.maze.Maze
  params:
    algorithm: kruskal

  children:
    - where:
        tags:
          - top-left
      scene:
        # type: metta.map.scenes.nop.Nop
        type: metta.map.scenes.inline_ascii.InlineAscii
        params:
          data: '@' # agent
    - where:
        tags:
          - bottom-right
      scene:
        type: metta.map.scenes.inline_ascii.InlineAscii
        params:
          data: '_' # altar
