_target_: mettagrid.room.multi_room.MultiRoom
num_rooms: ${div:${..num_agents},5}
border_width: 6

room:
  _target_: mettagrid.room.random.Random
  width: ${sampling:10,100,25}
  height: ${sampling:10,100,25}
  border_width: 0

  agents:
    prey: 4
    predator: 1

  objects:
    altar: ${sampling:1,5,1}
    converter: ${sampling:1,15,5}
    generator: ${sampling:1,50,15}
    wall: ${sampling:10,100,40}
