# Config: Two Rooms Coord (Overcooked-style)
defaults:
  - /env/mettagrid/mettagrid@
  - /env/mettagrid/game/objects/mines@game.objects
  - /env/mettagrid/game/objects/generators@game.objects
  - _self_

sampling: 1

game:
  agent:
    resource_limits:
      ore_red: 1
      battery_red: 1
      heart: 255

  max_steps: 1000
  num_agents: 8
  map_builder:
    _target_: metta.mettagrid.room.room_list.RoomList
    border_width: 6

    rooms:
      - _target_: metta.mettagrid.room.cooperation.two_rooms_coord.TwoRoomsCoord
        width: ${sampling:3,8,5}
        height: ${sampling:3,8,5}
        num_shared_generators: ${sampling:1,2,2}
        num_altars: ${sampling:1,2,2}
        num_mines: ${sampling:1,2,2}
        agents:
          team_1: 2
        border_width: 2
      - _target_: metta.mettagrid.room.cooperation.two_rooms_coord.TwoRoomsCoord
        width: ${sampling:3,8,5}
        height: ${sampling:3,8,5}
        num_shared_generators: ${sampling:1,2,2}
        num_altars: ${sampling:1,2,2}
        num_mines: ${sampling:1,2,2}
        agents:
          team_2: 2
        border_width: 2
      - _target_: metta.mettagrid.room.cooperation.two_rooms_coord.TwoRoomsCoord
        width: ${sampling:3,8,5}
        height: ${sampling:3,8,5}
        num_shared_generators: ${sampling:1,2,2}
        num_altars: ${sampling:1,2,2}
        num_mines: ${sampling:1,2,2}
        agents:
          team_3: 2
        border_width: 2
      - _target_: metta.mettagrid.room.cooperation.two_rooms_coord.TwoRoomsCoord
        width: ${sampling:3,8,5}
        height: ${sampling:3,8,5}
        num_shared_generators: ${sampling:1,2,2}
        num_altars: ${sampling:1,2,2}
        num_mines: ${sampling:1,2,2}
        agents:
          team_4: 2
        border_width: 2

  objects:
    altar:
      cooldown: 1
      input_resources:
        battery_red: 1
      max_output: 10
      conversion_ticks: 1
      initial_resource_count: 0
    generator_red:
      cooldown: 1
      max_output: 10
      conversion_ticks: 1
      initial_resource_count: 0
    mine_red:
      cooldown: 1
      max_output: 10
      conversion_ticks: 1
      initial_resource_count: 1

