# This is a modified `sample.yaml` config with sampling removed, for benchmark_env_perf.py script.
report_stats_interval: 100

sampling: 0

game:
  num_agents: 24
  num_observation_tokens: 100

  map_builder:
    _target_: mettagrid.room.multi_room.MultiRoom
    num_rooms: 4
    border_width: 6

    room:
      _target_: mettagrid.room.random.Random
      width: 25
      height: 25
      border_width: 0

      agents: 6

      objects:
        mine: 10
        generator: 2
        altar: 1
        armory: 1
        lasery: 1
        lab: 1
        factory: 1
        temple: 1

        block: 20
        wall: 20

  obs_width: 11
  obs_height: 11
  max_steps: 1000

  agent:
    default_item_max: 50
    freeze_duration: 10
    hp: 10
    rewards:
      # action_failure_penalty: 0.00001
      action_failure_penalty: 0
      ore.red: 0.005
      ore.blue: 0.005
      ore.green: 0.005
      battery.red: 0.01
      battery.blue: 0.01
      battery.green: 0.01
      battery.red_max: 5
      battery.blue_max: 5
      battery.green_max: 5
      heart: 1
      heart_max: 1000

  groups:
    agent:
      id: 0
      sprite: 0
      props: {}

    team_1:
      id: 1
      sprite: 1
      group_reward_pct: 0.5
      props: {}

    team_2:
      id: 2
      sprite: 4
      group_reward_pct: 0.5
      props: {}

    team_3:
      id: 3
      sprite: 8
      group_reward_pct: 0.5
      props: {}

    team_4:
      id: 4
      sprite: 1
      group_reward_pct: 0.5
      props: {}

    prey:
      id: 5
      sprite: 12
      props: {}

    predator:
      id: 6
      sprite: 6
      props: {}

  diversity_bonus:
    enabled: false
    similarity_coef: 0.5
    diversity_coef: 0.5

  objects:
    altar:
      hp: 30
      input_battery.red: 3
      output_heart: 1
      max_output: 5
      conversion_ticks: 1
      cooldown: 10
      initial_items: 1

    mine.red:
      hp: 30
      output_ore.red: 1
      color: 0
      max_output: 5
      conversion_ticks: 1
      cooldown: 50
      initial_items: 1

    mine.blue:
      hp: 30
      color: 1
      output_ore.blue: 1
      max_output: 5
      conversion_ticks: 1
      cooldown: 50
      initial_items: 1

    mine.green:
      hp: 30
      output_ore.green: 1
      color: 2
      max_output: 5
      conversion_ticks: 1
      cooldown: 50
      initial_items: 1

    generator.red:
      hp: 30
      input_ore.red: 1
      output_battery.red: 1
      color: 0
      max_output: 5
      conversion_ticks: 1
      cooldown: 25
      initial_items: 1

    generator.blue:
      hp: 30
      input_ore.blue: 1
      output_battery.blue: 1
      color: 1
      max_output: 5
      conversion_ticks: 1
      cooldown: 25
      initial_items: 1

    generator.green:
      hp: 30
      input_ore.green: 1
      output_battery.green: 1
      color: 2
      max_output: 5
      conversion_ticks: 1
      cooldown: 25
      initial_items: 1

    armory:
      hp: 30
      input_ore.red: 3
      output_armor: 1
      max_output: 5
      conversion_ticks: 1
      cooldown: 10
      initial_items: 1

    lasery:
      hp: 30
      input_ore.red: 1
      input_battery.red: 2
      output_laser: 1
      max_output: 5
      conversion_ticks: 1
      cooldown: 10
      initial_items: 1

    lab:
      hp: 30
      input_ore.red: 3
      input_battery.red: 3
      output_blueprint: 1
      max_output: 5
      conversion_ticks: 1
      cooldown: 5
      initial_items: 1

    factory:
      hp: 30
      input_blueprint: 1
      input_ore.red: 5
      input_battery.red: 5
      output_armor: 5
      output_laser: 5
      max_output: 5
      conversion_ticks: 1
      cooldown: 5
      initial_items: 1

    temple:
      hp: 30
      input_heart: 1
      input_blueprint: 1
      output_heart: 5
      max_output: 5
      conversion_ticks: 1
      cooldown: 5
      initial_items: 1

    wall:
      hp: 20
      swappable: false

    block:
      hp: 20
      swappable: true

  actions:
    noop:
      enabled: true
    move:
      enabled: true
    rotate:
      enabled: true
    put_items:
      enabled: true
    get_items:
      enabled: true
    attack:
      enabled: true
    swap:
      enabled: true
    change_color:
      enabled: true

  reward_sharing:
    groups:
      team_1:
        team_1: 0.5
      team_2:
        team_2: 0.5
      team_3:
        team_3: 0.5
      team_4:
        team_4: 0.5
