_target_: mettagrid.mettagrid_env.MettaGridEnv

sampling: 0

game:
  num_observation_tokens: 100
  map_builder:
    _target_: mettagrid.room.random.Random
    width: 25
    height: 25
    border_width: 0
    agents: 5

    objects:
      altar: 1
      converter: 3
      generator: 15
      wall: 40


  num_agents: 5
  obs_width: 11
  obs_height: 11
  max_steps: 5000

  groups:
    agent:
      id: 0
      sprite: 0
      props: {}

  agent:
    default_item_max: 5
    heart_max: 255
    freeze_duration: 10
    energy_reward: 0
    hp: 1
    use_cost: 0
    rewards:
      heart: 1

  objects:
    altar:
      hp: 30
      cooldown: 2
      use_cost: 100

    converter:
      hp: 30
      cooldown: 2
      energy_output.r1: 100
      energy_output.r2: 10
      energy_output.r3: 1

    generator.red:
      hp: 30
      cooldown: 5
      initial_resources: 30
      use_cost: 0

    wall:
      hp: 10

  actions:
    noop:
      enabled: true
    move:
      enabled: true
    rotate:
      enabled: true
    put_items:
      enabled: true
    get_items:
      enabled: true
    attack:
      enabled: true
    swap:
      enabled: true
    change_color:
      enabled: true
