_target_: mettagrid.mettagrid_env.MettaGridEnv

sampling: 0

game:
  num_observation_tokens: 100

  inventory_item_names:
    - ore_red
    - ore_blue
    - ore_green
    - battery_red
    - battery_blue
    - battery_green
    - heart
    - armor
    - laser
    - blueprint

  map_builder:
    _target_: metta.mettagrid.room.random.Random
    width: 25
    height: 25
    border_width: 0
    agents: 5
    seed: 42

    objects:
      altar: 1
      generator_red: 15
      wall: 40

  num_agents: 5
  obs_width: 11
  obs_height: 11
  max_steps: 5000

  groups:
    agent:
      id: 0
      sprite: 0
      props: {}

  agent:
    default_resource_limit: 5
    resource_limits:
      heart: 255
    freeze_duration: 10
    rewards:
      heart: 1

  objects:
    altar:
      type_id: 8
      cooldown: 2
      max_output: 100
      conversion_ticks: 1
      initial_resource_count: 100

    generator_red:
      type_id: 2
      cooldown: 5
      max_output: 100
      conversion_ticks: 1
      initial_resource_count: 30

    wall:
      type_id: 1

  actions:
    noop:
      enabled: true
    move:
      enabled: true
    rotate:
      enabled: true
    put_items:
      enabled: true
    get_items:
      enabled: true
    attack:
      enabled: true
      consumed_resources:
        laser: 1
      defense_resources:
        armor: 1
    swap:
      enabled: true
    change_color:
      enabled: true
    change_glyph:
      enabled: true
      number_of_glyphs: 4
