defaults:
  - /env/mettagrid/mettagrid@
  - _self_

game:
  num_agents: 24

  map_builder:
    _target_: mettagrid.room.room_scene.RoomScene
    border_width: 6

    layout:
      [
        ["base", "wild", "base"],
        ["wild", "center", "wild"],
        ["base", "wild", "base"],
      ]

    rooms:
      base:
        _target_: mettagrid.room.random.Random
        width: ${sampling:10,50,10}
        height: ${sampling:10,50,10}
        border_width: 0

        agents: ${div:${....num_agents},4}

        objects:
          generator: ${sampling:1,10,2}
          armory: ${sampling:1,5,1}
          lasery: ${sampling:1,5,1}
          lab: ${sampling:1,5,1}
          factory: ${sampling:1,5,1}
          temple: ${sampling:1,5,1}
          wall: ${sampling:0,10,5}

      wild:
        _target_: mettagrid.room.random.Random
        width: ${sampling:10,50,20}
        height: ${sampling:10,50,20}
        border_width: 0

        objects:
          mine: ${sampling:1,20,10}
          altar: ${sampling:1,5,1}
          wall: ${sampling:0,20,5}

      center:
        _target_: mettagrid.room.random.Random
        width: ${sampling:10,50,10}
        height: ${sampling:10,50,10}
        border_width: 0

        objects:
          altar: ${sampling:1,3,2}
          wall: ${sampling:0,20,5}
          generator: ${sampling:1,10,2}
