defaults:
  - mettagrid
  - game/objects:
      - combat
  - override game/groups: teams
  - _self_

group_reward_pct: 0

game:
  num_agents: 36
  map_builder:
    _target_: metta.map.mapgen.MapGen

    width: 25
    height: 25

    border_width: 6

    root:
      type: metta.map.scenes.room_grid.RoomGrid

      params:
        rows: 1
        columns: 3
        border_width: 0

      children:
        - where:
            tags:
              - room_0_0
          scene:
            type: metta.map.scenes.random.Random
            params:
              objects:
                lasery: 4
                armory: 4
              agents:
                team_1: 18
        - where:
            tags:
              - room_0_1
          scene:
            type: metta.map.scenes.random.Random
            params:
              objects:
                altar: 1
                mine_red: 10
        - where:
            tags:
              - room_0_2
          scene:
            type: metta.map.scenes.random.Random
            params:
              objects:
                lasery: 4
                armory: 4
              agents:
                team_2: 18

  agent:
    default_resource_limit: 5

  objects:
    altar:
      initial_resource_count: 1

    lasery:
      input_resources:
        ore_red: 0
        battery_red: 0
      cooldown: 5
      initial_resource_count: 5

    armory:
      input_resources:
        ore_red: 0
        battery_red: 0
      initial_resource_count: 5
      cooldown: 5

  groups:
    team_1:
      group_reward_pct: ${....group_reward_pct}
    team_2:
      group_reward_pct: ${....group_reward_pct}
