defaults:
  - game/agent: agent
  - game/agent/rewards: hearts
  - game/groups: solo
  - game/objects:
      - basic
  - _self_

sampling: 0

game:
  num_agents: ???
  obs_width: 11
  obs_height: 11
  num_observation_tokens: 200
  max_steps: 1000

  # Global observation tokens configuration
  global_obs:
    episode_completion_pct: true
    last_action: true # Controls both last_action and last_action_arg tokens
    last_reward: true

  # We could figure this out implicitly, but being explicit reduces the risk of people accidentally configuring
  # inventory they didn't intend (e.g., "ore" instead of "ore_red").
  inventory_item_names:
    - ore_red
    - ore_blue
    - ore_green
    - battery_red
    - battery_blue
    - battery_green
    - heart
    - armor
    - laser
    - blueprint

  actions:
    noop:
      enabled: true
    move:
      enabled: true
    rotate:
      enabled: true
    put_items:
      enabled: true
    get_items:
      enabled: true
    attack:
      enabled: true
      consumed_resources:
        laser: 1
      defense_resources:
        armor: 1
    swap:
      enabled: true
    change_color:
      enabled: false
    change_glyph:
      enabled: false
      number_of_glyphs: 4
