defaults:
  - /env/mettagrid/mettagrid@
  - _self_

game:
  num_agents: 24
  map_builder:
    _target_: metta.mettagrid.room.multi_room.MultiRoom
    num_rooms: ${div:${..num_agents},6}
    border_width: 1

    room:
      _target_: metta.mettagrid.room.random.Random
      width: ${sampling:10,100,17}
      height: ${sampling:10,100,17}
      border_width: 0

      agents: 6

      objects:
        mine_red: ${sampling:1,10,10}
        generator_red: ${sampling:1,10,10}
        altar: ${sampling:1,5,7}
        armory: ${sampling:0,5,1}
        lasery: ${sampling:0,5,1}
        lab: ${sampling:0,5,1}
        factory: ${sampling:0,5,1}
        temple: ${sampling:0,5,1}

        wall: ${sampling:1,100,1}
        block: ${sampling:5,50,1}

  actions:
    noop:
      enabled: true
    move:
      enabled: true
    rotate:
      enabled: true
    put_items:
      enabled: true
    get_items:
      enabled: true
    attack:
      enabled: true
    swap:
      enabled: true
    change_color:
      enabled: true
