defaults:
  - mettagrid
  - game/objects:
      - basic
      - mines
      - generators
      - combat
      - advanced

  - _self_

game:
  num_agents: 24

  agent:
    default_resource_limit: 50
    freeze_duration: 10

  map_builder:
    _target_: metta.map.mapgen.MapGen
    width: 25
    height: 25

    instances: 4
    instance_border_width: 0

    root:
      type: metta.map.scenes.random.Random
      params:
        agents: 6

        objects:
          mine_red: 10
          generator_red: 2
          altar: 1
          armory: 1
          lasery: 1
          lab: 1
          factory: 1
          temple: 1

          block: 20
          wall: 20
