defaults:
  - /env/mettagrid/simple@
  - _self_

game:
  agent:
    rewards:
      # action_failure_penalty: ${sampling:0, 0.0001, 0.00001}
      ore.red: ${sampling:0, 1, 0.1}
      ore.red.max: ${sampling:1, 50, 10}
      ore.blue: ${sampling:0, 1, 0.1}
      ore.blue.max: ${sampling:1, 50, 10}
      ore.green: ${sampling:0, 1, 0.1}
      ore.green.max: ${sampling:1, 50, 10}
      battery.red: ${sampling:0, 1, 0.1}
      battery.red_max: ${sampling:1, 50, 10}
      battery.blue: ${sampling:0, 1, 0.1}
      battery.blue_max: ${sampling:1, 50, 10}
      battery.green: ${sampling:0, 1, 0.1}
      battery.green_max: ${sampling:1, 50, 10}
      heart: ${sampling:0, 1, 0.1}
      heart_max: ${sampling:1, 50, 10}
      laser: ${sampling:0, 1, 0.1}
      laser_max: ${sampling:1, 50, 10}
      armor: ${sampling:0, 1, 0.1}
      armor_max: ${sampling:1, 50, 10}
      blueprint: ${sampling:0, 1, 0.1}
      blueprint_max: ${sampling:1, 50, 10}

  groups:
    group_1:
      id: 1
      sprite: 1
      props:
        rewards:
          ore.red: ${sampling:0, 1, 0.1}
          ore.red.max: ${sampling:1, 50, 10}
          ore.blue: ${sampling:0, 1, 0.1}
          ore.blue.max: ${sampling:1, 50, 10}
          ore.green: ${sampling:0, 1, 0.1}
          ore.green.max: ${sampling:1, 50, 10}
          battery.red: ${sampling:0, 1, 0.1}
          battery.red_max: ${sampling:1, 50, 10}
          battery.blue: ${sampling:0, 1, 0.1}
          battery.blue_max: ${sampling:1, 50, 10}
          battery.green: ${sampling:0, 1, 0.1}
          battery.green_max: ${sampling:1, 50, 10}
          heart: ${sampling:0, 1, 0.1}
          heart_max: ${sampling:1, 50, 10}
          laser: ${sampling:0, 1, 0.1}
          laser_max: ${sampling:1, 50, 10}
          armor: ${sampling:0, 1, 0.1}
          armor_max: ${sampling:1, 50, 10}
          blueprint: ${sampling:0, 1, 0.1}
          blueprint_max: ${sampling:1, 50, 10}

    group_2:
      id: 2
      sprite: 4
      props:
        rewards:
          ore.red: ${sampling:0, 1, 0.1}
          ore.red.max: ${sampling:1, 50, 10}
          ore.blue: ${sampling:0, 1, 0.1}
          ore.blue.max: ${sampling:1, 50, 10}
          ore.green: ${sampling:0, 1, 0.1}
          ore.green.max: ${sampling:1, 50, 10}
          battery.red: ${sampling:0, 1, 0.1}
          battery.red_max: ${sampling:1, 50, 10}
          battery.blue: ${sampling:0, 1, 0.1}
          battery.blue_max: ${sampling:1, 50, 10}
          battery.green: ${sampling:0, 1, 0.1}
          battery.green_max: ${sampling:1, 50, 10}
          heart: ${sampling:0, 1, 0.1}
          heart_max: ${sampling:1, 50, 10}
          laser: ${sampling:0, 1, 0.1}
          laser_max: ${sampling:1, 50, 10}
          armor: ${sampling:0, 1, 0.1}
          armor_max: ${sampling:1, 50, 10}
          blueprint: ${sampling:0, 1, 0.1}
          blueprint_max: ${sampling:1, 50, 10}

    group_3:
      id: 3
      sprite: 8
      props:
        rewards:
          ore.red: ${sampling:0, 1, 0.1}
          ore.red.max: ${sampling:1, 50, 10}
          ore.blue: ${sampling:0, 1, 0.1}
          ore.blue.max: ${sampling:1, 50, 10}
          ore.green: ${sampling:0, 1, 0.1}
          ore.green.max: ${sampling:1, 50, 10}
          battery.red: ${sampling:0, 1, 0.1}
          battery.red_max: ${sampling:1, 50, 10}
          battery.blue: ${sampling:0, 1, 0.1}
          battery.blue_max: ${sampling:1, 50, 10}
          battery.green: ${sampling:0, 1, 0.1}
          battery.green_max: ${sampling:1, 50, 10}
          heart: ${sampling:0, 1, 0.1}
          heart_max: ${sampling:1, 50, 10}
          laser: ${sampling:0, 1, 0.1}
          laser_max: ${sampling:1, 50, 10}
          armor: ${sampling:0, 1, 0.1}
          armor_max: ${sampling:1, 50, 10}
          blueprint: ${sampling:0, 1, 0.1}
          blueprint_max: ${sampling:1, 50, 10}

  map_builder:
    room:
      agents:
        group_1: 2
        group_2: 2
        group_3: 2
