defaults:
  - mettagrid
  - game/objects:
      - basic
      - mines
      - generators
      - combat
      - advanced

  - _self_

game:
  num_agents: 24
  map_builder:
    _target_: metta.mettagrid.room.multi_room.MultiRoom
    num_rooms: ${div:${..num_agents},6}
    border_width: 6

    room:
      _target_: metta.mettagrid.room.terrain_from_numpy.TerrainFromNumpy
      border_width: 0

      agents: 6

      objects:
        mine_red: ${sampling:1,20,10}
        generator_red: ${sampling:1,10,2}
        altar: ${sampling:1,5,1}
        armory: ${sampling:1,5,1}
        lasery: ${sampling:1,5,1}
        lab: ${sampling:1,5,1}
        factory: ${sampling:1,5,1}
        temple: ${sampling:1,5,1}

        block: ${sampling:5,50,20}
        wall: ${sampling:5,50,20}
