hydra:
  callbacks:
    resolver_callback:
      _target_: metta.common.util.resolvers.ResolverRegistrar

run: ???
dist_cfg_path: null

# We override DATA_DIR when running on skypilot.
# This is because we mount train_dir with S3 and uv gets slow when it tries to scan it.
data_dir: ${oc.env:DATA_DIR,./train_dir}

run_dir: ${data_dir}/${run}
policy_uri: file://${run_dir}/checkpoints

torch_deterministic: true
seed: 0

device: cuda
vectorization: multiprocessing

stats_server_uri: https://api.observatory.softmax-research.net

bypass_mac_overrides: false
