defaults:
  - common
  - wandb: metta_research
  - /sim/sim_single@replay_job.sim
  - _self_

run: ???
policy_uri: ???

replay_job:
  sim:
    env: /env/mettagrid/operant_conditioning/cued_operant/match_mine_blue
  policy_uri: ${policy_uri}
  selector_type: top
  stats_dir: ${run_dir}/stats
  replay_dir: ${run_dir}/replays/local
  open_browser_on_start: true

cmd: play
