defaults:
  - common
  - wandb: metta_research
  - sim: simple
  - _self_

cmd: play
run: ???
data_dir: ./train_dir
run_dir: ${data_dir}/${run}
torch_deterministic: true
eval_db_uri: null

replay_job:
  sim: ${sim}
  policy_uri: ${policy_uri}
  selector_type: top
  metric: score
