defaults:
  - common
  - wandb: metta_research
  - sim: simple
  - _self_

run: ???
policy_uri: ???

replay_job:
  sim: ${sim}
  policy_uri: ${policy_uri}
  selector_type: top
  stats_dir: ${run_dir}/stats
  replay_dir: ${run_dir}/replays/local

cmd: play
