defaults:
  - common
  - wandb: metta_research
<<<<<<< HEAD
  - agent: simple_token_to_box
=======
  - agent: fast
>>>>>>> 2ae302112f4d2dc5180dd8637a2ed5508a576325
  - sim: sweep_eval
  - trainer: puffer
  - _self_

cmd: sweep
sweep_name: ???
sweep_params: "sweep/full"
sweep_params_override: {}
sweep: ???

metric: reward
num_random_samples: 10

trainer:
  evaluate_interval: 300

sim:
  num_episodes: 5

sweep_job:
  evals: ${sim}

sweep_dir: "${.data_dir}/sweep/${.sweep_name}"
runs_dir: "${.sweep_dir}/runs"
