defaults:
  - common
  - agent: fast
  - trainer: trainer
  - sim: arena
  - wandb: comparision_trainer
  - _self_

seed: 1

train_job:
  map_preview_uri: s3://softmax-public/training_runs/${run}/map_preview.json.z
  evals: ${sim}

trainer:
  curriculum: /env/mettagrid/curriculum/arena/learning_progress

cmd: train 