# The initial version of these values is borrowed from skypilot chart.
# Comments below come from skypilot chart too. (Probably could be simplified since we're committed to AWS.)
# Since we use ingress-nginx for more than just skypilot, we install it separately.
controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  service:
    type: LoadBalancer
    # Default annotations for the ingress controller service. We want an L4 loadbalancer by default for maximum compatibility,
    # especially for websocket SSH tunneling. Different cloud providers may require different annotations.
    # Annotations with no side effects are aggregated below to simplify the usage.
    annotations:
      # For AWS service reconciled by cloud-controller-manager, use NLB by default.
      # If you are using AWS Load Balancer Controller, refer to the following doc to configure annotations:
      # https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/service/annotations/
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      # For GKE, use backend service-based external passthrough Network Load Balancer as per best practices.
      # Ref: https://cloud.google.com/kubernetes-engine/docs/concepts/service-load-balancer#load_balancer_types
      cloud.google.com/l4-rbs: "enabled"
      # For Azure, override the healthz check protocol to TCP probe to avoid HTTP auth issues.
      service.beta.kubernetes.io/port_443_health-probe_protocol: "TCP"
      service.beta.kubernetes.io/port_80_health-probe_protocol: "TCP"
      service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
  config:
    # necessary for observatory, we strip headers in observatory-api ingress
    allow-snippet-annotations: true
    http-snippet: |
      map $http_upgrade $connection_upgrade {
          default upgrade;
          ''      close;
      }
