apiService:
  image: berkeleyskypilot/skypilot:0.10.3
  config: |
    jobs:
      bucket: s3://skypilot-jobs/
    api_server:
      requests_retention_hours: 3
  resources:
    requests:
      cpu: "8"
      memory: "16Gi"
    limits:
      cpu: "8"
      memory: "16Gi"
  metrics:
    enabled: true
  # Datadog environment variables for the API server
  extraEnvs:
    - name: DD_AGENT_HOST
      valueFrom:
        fieldRef:
          fieldPath: status.hostIP
    - name: DD_TRACE_ENABLED
      value: "true"
    - name: DD_ENV
      value: "production"
    - name: DD_SERVICE
      value: "skypilot-api"
    - name: DD_VERSION
      value: "latest"
awsCredentials:
  enabled: true
ingress:
  certManager:
    clusterIssuer: letsencrypt
    enabled: true
  host: skypilot-api.softmax-research.net
auth:
  oauth:
    enabled: true
    oidc-issuer-url: https://accounts.google.com
    email-domain: stem.ai,softmax.com
    # Skypilot uses `redis` by default, but its redis chart doesn't have persistence, so loses sessions on restart.
    # Cookie is good enough.
    session-store-type: cookie
    # This secret is terraformed by devops/tf/eks
    client-details-from-secret: softmax-infra-oauth
# managed as a separate chart, see above
ingress-nginx:
  enabled: false
lambdaCredentials:
  enabled: true
  # created by terraform
  lambdaSecretName: lambda-ai-credentials
storage:
  size: 500Gi
