defaults:
  - sim_suite
  - _self_

name: all

simulations:
  arena/basic:
    env: env/mettagrid/arena/basic
  arena/combat:
    env: env/mettagrid/arena/combat
  arena/advanced:
    env: env/mettagrid/arena/advanced
  navigation/emptyspace_withinsight:
    env: env/mettagrid/navigation/evals/emptyspace_withinsight
  navigation/emptyspace_outofsight:
    env: env/mettagrid/navigation/evals/emptyspace_outofsight
  navigation/emptyspace_sparse:
    env: env/mettagrid/navigation/evals/emptyspace_sparse
  navigation/emptyspace_sparse_medium:
    env: env/mettagrid/navigation/evals/emptyspace_sparse_medium
  navigation/walls_withinsight:
    env: env/mettagrid/navigation/evals/walls_withinsight
  navigation/walls_outofsight:
    env: env/mettagrid/navigation/evals/walls_outofsight
  navigation/walls_sparse:
    env: env/mettagrid/navigation/evals/walls_sparse
  navigation/cylinder:
    env: env/mettagrid/navigation/evals/cylinder
  navigation/obstacles0:
    env: env/mettagrid/navigation/evals/obstacles0
  navigation/obstacles1:
    env: env/mettagrid/navigation/evals/obstacles1
  navigation/obstacles2:
    env: env/mettagrid/navigation/evals/obstacles2
  navigation/obstacles3:
    env: env/mettagrid/navigation/evals/obstacles3
  navigation/corridors:
    env: env/mettagrid/navigation/evals/corridors
  navigation/labyrinth:
    env: env/mettagrid/navigation/evals/labyrinth
  navigation/radialmaze:
    env: env/mettagrid/navigation/evals/radialmaze
  navigation/cylinder_easy:
    env: env/mettagrid/navigation/evals/cylinder_easy
  navigation/honeypot:
    env: env/mettagrid/navigation/evals/honeypot
  navigation/knotty:
    env: env/mettagrid/navigation/evals/knotty
  navigation/memory_palace:
    env: env/mettagrid/navigation/evals/memory_palace
  navigation/radial_large:
    env: env/mettagrid/navigation/evals/radial_large
  navigation/radial_mini:
    env: env/mettagrid/navigation/evals/radial_mini
  navigation/radial_small:
    env: env/mettagrid/navigation/evals/radial_small
  navigation/swirls:
    env: env/mettagrid/navigation/evals/swirls
  navigation/thecube:
    env: env/mettagrid/navigation/evals/thecube
  navigation/walkaround:
    env: env/mettagrid/navigation/evals/walkaround
  navigation/wanderout:
    env: env/mettagrid/navigation/evals/wanderout
  # npc/simple:
  #   env: env/mettagrid/arena/advanced
  #   policy_agents_pct: 0.5
  #   npc_policy_uri: wandb://run/georgedeane.nav_scratch
  objectuse/altar_use_free:
    env: env/mettagrid/object_use/evals/altar_use_free
    policy_agents_pct: 1.0
  objectuse/armory_use_free:
    env: env/mettagrid/object_use/evals/armory_use_free
    policy_agents_pct: 1.0
  objectuse/armory_use:
    env: env/mettagrid/object_use/evals/armory_use
    policy_agents_pct: 1.0
  objectuse/generator_use_free:
    env: env/mettagrid/object_use/evals/generator_use_free
    policy_agents_pct: 1.0
  objectuse/generator_use:
    env: env/mettagrid/object_use/evals/generator_use
    policy_agents_pct: 1.0
  objectuse/lasery_use_free:
    env: env/mettagrid/object_use/evals/lasery_use_free
    policy_agents_pct: 1.0
  objectuse/lasery_use:
    env: env/mettagrid/object_use/evals/lasery_use
    policy_agents_pct: 1.0
  objectuse/mine_use:
    env: env/mettagrid/object_use/evals/mine_use
    policy_agents_pct: 1.0
  objectuse/shoot_out:
    env: env/mettagrid/object_use/evals/shoot_out
    policy_agents_pct: 1.0
  objectuse/swap_in:
    env: env/mettagrid/object_use/evals/swap_in
    policy_agents_pct: 1.0
  objectuse/swap_out:
    env: env/mettagrid/object_use/evals/swap_out
    policy_agents_pct: 1.0
  objectuse/temple_use_free:
    env: env/mettagrid/object_use/evals/temple_use_free
    policy_agents_pct: 1.0
  objectuse/full_sequence:
    env: env/mettagrid/object_use/evals/full_sequence
  navsequence/cylinder:
    env: env/mettagrid/navigation_sequence/evals/cylinder
  navsequence/obstacles0:
    env: env/mettagrid/navigation_sequence/evals/obstacles0
  navsequence/obstacles1:
    env: env/mettagrid/navigation_sequence/evals/obstacles1
  navsequence/obstacles2:
    env: env/mettagrid/navigation_sequence/evals/obstacles2
  navsequence/obstacles3:
    env: env/mettagrid/navigation_sequence/evals/obstacles3
  navsequence/corridors:
    env: env/mettagrid/navigation_sequence/evals/corridors
  navsequence/cylinder_easy:
    env: env/mettagrid/navigation_sequence/evals/cylinder_easy
  navsequence/honeypot:
    env: env/mettagrid/navigation_sequence/evals/honeypot
  navsequence/knotty:
    env: env/mettagrid/navigation_sequence/evals/knotty
  navsequence/memory_palace:
    env: env/mettagrid/navigation_sequence/evals/memory_palace
  navsequence/radial_large:
    env: env/mettagrid/navigation_sequence/evals/radial_large
  navsequence/radial_mini:
    env: env/mettagrid/navigation_sequence/evals/radial_mini
  navsequence/radial_small:
    env: env/mettagrid/navigation_sequence/evals/radial_small
  navsequence/swirls:
    env: env/mettagrid/navigation_sequence/evals/swirls
  navsequence/thecube:
    env: env/mettagrid/navigation_sequence/evals/thecube
  navsequence/walkaround:
    env: env/mettagrid/navigation_sequence/evals/walkaround
  memory/easy:
    env: env/mettagrid/memory/evals/easy
  memory/medium:
    env: env/mettagrid/memory/evals/medium
  memory/hard:
    env: env/mettagrid/memory/evals/hard
  memory/boxout:
    env: env/mettagrid/memory/evals/boxout
  memory/choose_wisely:
    env: env/mettagrid/memory/evals/choose_wisely
  memory/corners:
    env: env/mettagrid/memory/evals/corners
  memory/easy_sequence:
    env: env/mettagrid/memory/evals/easy_sequence
  memory/hall_of_mirrors:
    env: env/mettagrid/memory/evals/hall_of_mirrors
  memory/hard_sequence:
    env: env/mettagrid/memory/evals/hard_sequence
  memory/journey_home:
    env: env/mettagrid/memory/evals/journey_home
  memory/little_landmark_easy:
    env: env/mettagrid/memory/evals/little_landmark_easy
  memory/little_landmark_hard:
    env: env/mettagrid/memory/evals/little_landmark_hard
  memory/lobster_legs_cues:
    env: env/mettagrid/memory/evals/lobster_legs_cues
  memory/lobster_legs:
    env: env/mettagrid/memory/evals/lobster_legs
  memory/medium_sequence:
    env: env/mettagrid/memory/evals/medium_sequence
  memory/memory_swirls_hard:
    env: env/mettagrid/memory/evals/memory_swirls_hard
  memory/memory_swirls:
    env: env/mettagrid/memory/evals/memory_swirls
  memory/passing_things:
    env: env/mettagrid/memory/evals/passing_things
  memory/spacey_memory:
    env: env/mettagrid/memory/evals/spacey_memory
  memory/tease:
    env: env/mettagrid/memory/evals/tease
  memory/venture_out:
    env: env/mettagrid/memory/evals/venture_out
  memory/tease_small:
    env: env/mettagrid/memory/evals/tease_small
  memory/you_shall_not_pass:
    env: env/mettagrid/memory/evals/you_shall_not_pass
  systematic_exploration_memory/access_cross:
    env: env/mettagrid/systematic_exploration_memory/evals/access_cross
  systematic_exploration_memory/boxout:
    env: env/mettagrid/systematic_exploration_memory/evals/boxout
  systematic_exploration_memory/choose_wisely:
    env: env/mettagrid/systematic_exploration_memory/evals/choose_wisely
  systematic_exploration_memory/corners:
    env: env/mettagrid/systematic_exploration_memory/evals/corners
  systematic_exploration_memory/hall_of_mirrors:
    env: env/mettagrid/systematic_exploration_memory/evals/hall_of_mirrors
  systematic_exploration_memory/journey_home:
    env: env/mettagrid/systematic_exploration_memory/evals/journey_home
  systematic_exploration_memory/little_landmark_hard:
    env: env/mettagrid/systematic_exploration_memory/evals/little_landmark_hard
  systematic_exploration_memory/lobster_legs_cues:
    env: env/mettagrid/systematic_exploration_memory/evals/lobster_legs_cues
  systematic_exploration_memory/lobster_legs:
    env: env/mettagrid/systematic_exploration_memory/evals/lobster_legs
  systematic_exploration_memory/memory_swirls_hard:
    env: env/mettagrid/systematic_exploration_memory/evals/memory_swirls_hard
  systematic_exploration_memory/memory_swirls:
    env: env/mettagrid/systematic_exploration_memory/evals/memory_swirls
  systematic_exploration_memory/passing_things:
    env: env/mettagrid/systematic_exploration_memory/evals/passing_things
  systematic_exploration_memory/rooms:
    env: env/mettagrid/systematic_exploration_memory/evals/rooms
  systematic_exploration_memory/spacey_memory:
    env: env/mettagrid/systematic_exploration_memory/evals/spacey_memory
  systematic_exploration_memory/tease:
    env: env/mettagrid/systematic_exploration_memory/evals/tease
  systematic_exploration_memory/venture_out:
    env: env/mettagrid/systematic_exploration_memory/evals/venture_out
  systematic_exploration_memory/which_way:
    env: env/mettagrid/systematic_exploration_memory/evals/which_way
  systematic_exploration_memory/you_shall_not_pass:
    env: env/mettagrid/systematic_exploration_memory/evals/you_shall_not_pass
