defaults:
  - sim_suite
  - _self_

name: navigation

simulations:
  navigation/emptyspace_withinsight:
    env: env/mettagrid/navigation/evals/emptyspace_withinsight
  navigation/emptyspace_outofsight:
    env: env/mettagrid/navigation/evals/emptyspace_outofsight
  navigation/emptyspace_sparse:
    env: env/mettagrid/navigation/evals/emptyspace_sparse
  navigation/emptyspace_sparse_medium:
    env: env/mettagrid/navigation/evals/emptyspace_sparse_medium
  navigation/walls_withinsight:
    env: env/mettagrid/navigation/evals/walls_withinsight
  navigation/walls_outofsight:
    env: env/mettagrid/navigation/evals/walls_outofsight
  navigation/walls_sparse:
    env: env/mettagrid/navigation/evals/walls_sparse
  navigation/cylinder:
    env: env/mettagrid/navigation/evals/cylinder
  navigation/obstacles0:
    env: env/mettagrid/navigation/evals/obstacles0
  navigation/obstacles1:
    env: env/mettagrid/navigation/evals/obstacles1
  navigation/obstacles2:
    env: env/mettagrid/navigation/evals/obstacles2
  navigation/obstacles3:
    env: env/mettagrid/navigation/evals/obstacles3
  navigation/corridors:
    env: env/mettagrid/navigation/evals/corridors
  navigation/labyrinth:
    env: env/mettagrid/navigation/evals/labyrinth
  navigation/radialmaze:
    env: env/mettagrid/navigation/evals/radialmaze
  navigation/cylinder_easy:
    env: env/mettagrid/navigation/evals/cylinder_easy
  navigation/honeypot:
    env: env/mettagrid/navigation/evals/honeypot
  navigation/knotty:
    env: env/mettagrid/navigation/evals/knotty
  navigation/memory_palace:
    env: env/mettagrid/navigation/evals/memory_palace
  navigation/radial_large:
    env: env/mettagrid/navigation/evals/radial_large
  navigation/radial_mini:
    env: env/mettagrid/navigation/evals/radial_mini
  navigation/radial_small:
    env: env/mettagrid/navigation/evals/radial_small
  navigation/swirls:
    env: env/mettagrid/navigation/evals/swirls
  navigation/thecube:
    env: env/mettagrid/navigation/evals/thecube
  navigation/walkaround:
    env: env/mettagrid/navigation/evals/walkaround
  navigation/wanderout:
    env: env/mettagrid/navigation/evals/wanderout
  systematic_exploration_memory/boxout:
    env: env/mettagrid/systematic_exploration_memory/evals/boxout
  systematic_exploration_memory/choose_wisely:
    env: env/mettagrid/systematic_exploration_memory/evals/choose_wisely
  systematic_exploration_memory/corners:
    env: env/mettagrid/systematic_exploration_memory/evals/corners
  systematic_exploration_memory/hall_of_mirrors:
    env: env/mettagrid/systematic_exploration_memory/evals/hall_of_mirrors
  systematic_exploration_memory/journey_home:
    env: env/mettagrid/systematic_exploration_memory/evals/journey_home
  systematic_exploration_memory/little_landmark_hard:
    env: env/mettagrid/systematic_exploration_memory/evals/little_landmark_hard
  systematic_exploration_memory/lobster_legs_cues:
    env: env/mettagrid/systematic_exploration_memory/evals/lobster_legs_cues
  systematic_exploration_memory/lobster_legs:
    env: env/mettagrid/systematic_exploration_memory/evals/lobster_legs
  systematic_exploration_memory/memory_swirls_hard:
    env: env/mettagrid/systematic_exploration_memory/evals/memory_swirls_hard
  systematic_exploration_memory/memory_swirls:
    env: env/mettagrid/systematic_exploration_memory/evals/memory_swirls
  systematic_exploration_memory/passing_things:
    env: env/mettagrid/systematic_exploration_memory/evals/passing_things
  systematic_exploration_memory/rooms:
    env: env/mettagrid/systematic_exploration_memory/evals/rooms
  systematic_exploration_memory/spacey_memory:
    env: env/mettagrid/systematic_exploration_memory/evals/spacey_memory
  systematic_exploration_memory/tease:
    env: env/mettagrid/systematic_exploration_memory/evals/tease
  systematic_exploration_memory/venture_out:
    env: env/mettagrid/systematic_exploration_memory/evals/venture_out
  systematic_exploration_memory/you_shall_not_pass:
    env: env/mettagrid/systematic_exploration_memory/evals/you_shall_not_pass
