defaults:
  - /env/mettagrid/memory/evals/defaults@
  - _self_

game:
  num_agents: 2
  max_steps: 58
  agent:
    rewards:
      heart: 0.333
  map_builder:
    uri: "configs/env/mettagrid/maps/memory/medium.map"
  objects:
    altar:
      initial_resource_count: 1
