

metric: action.use.altar
test: raw # glicko, elo, raw

rollout_count: 100000
num_random_samples: 10
resume: true

eval:
  num_envs: 100
  num_episodes: 100
  max_time_s: 60
  policy_agents_pct: 0.5

generation:
  enabled: false
  min_samples: 5
  regen_pct: 0.25

parameters:
  env:
    game:
      max_steps:
        space: linear
        min: 500
        max: 3000
  trainer:
    vf_coef:
      space: logit
      min: 0.0
      max: 1.0
    ent_coef:
      space: log
      min: 1e-5
      max: 1e-1