trainer:
  gamma: ${ss:logit, 0.0, 1.0}
  gae_lambda: ${ss:logit, 0.0, 1.0}
  vf_coef: ${ss:logit, 0.0, 1.0}
  ent_coef: ${ss:log, 1e-5, 1e-1}
  batch_size: ${ss:pow2, 128, 1024, 128}
  minibatch_size: ${ss:pow2, 128, 128, 128}
  bptt_horizon: ${ss:pow2, 4, 8, 4}
  total_timesteps: ${ss:log, 1e3, 1e4, 1e4}

  env_overrides:
    game:
      objects:
        altar:
          cooldown: ${ss:int, 1, 20, 10}
