
trainer:
  learning_rate: ${ss:log, 1e-5, 1e-1}
  gamma: ${ss:logit, 0.0, 1.0}
  gae_lambda: ${ss:logit, 0.0, 1.0}
  update_epochs: ${ss:int, 1, 3}
  # clip_coef: ${ss:logit, 0.0, 1.0}
  vf_coef: ${ss:logit, 0.0, 1.0}
  # vf_clip_coef: ${ss:logit, 0.0, 1.0}
  # max_grad_norm: ${ss:linear, 0.0, 6.0}
  ent_coef: ${ss:log, 1e-5, 1e-1}
  batch_size: ${ss:pow2, 131072, 524288, 131072}
  minibatch_size: ${ss:pow2, 1024, 131072}
  forward_pass_minibatch_target_size: $pow2(1024, 32768)
  bptt_horizon: ${ss:pow2, 1, 128}
  total_timesteps: ${ss:log, 1e10, 10e12, 2e10}
  l2_reg_loss_coef: ${ss:logit, 0.05, 0.1, 1.0}
  l2_init_loss_coef: ${ss:logit, 0.05, 0.1, 1.0}

env:
  max_steps: ${ss:linear, 500, 1000,2500}
  # compile: ${ss:int, 0, 1}
