trainer:
  gamma: ${ss:logit, 0.0, 1.0}
  gae_lambda: ${ss:logit, 0.0, 1.0}
  update_epochs: ${ss:int, 1, 16}
  clip_coef: ${ss:logit, 0.0, 1.0}
  vf_coef: ${ss:logit, 0.0, 1.0}
  vf_clip_coef: ${ss:logit, 0.0, 1.0}
  # max_grad_norm: ${ss:linear, 0.0, 6.0}
  ent_coef: ${ss:log, 1e-5, 1e-1}
  batch_size: ${ss:pow2, 131072, 524288, 131072}
  minibatch_size: ${ss:pow2, 1024, 131072}
  forward_pass_minibatch_target_size: $pow2(1024, 32768)
  bptt_horizon: ${ss:pow2, 1, 128}
  total_timesteps: ${ss:log, 1e7, 1e9, 5e8}
  # compile: ${ss:int, 0, 1}

  optimizer:
    learning_rate: ${ss:log, 1e-5, 1e-1}
    beta1: ${ss:logit, 0.0, 1.0}
    beta2: ${ss:logit, 0.0, 1.0}
    eps: ${ss:log, 1e-14, 1e-6}

