# see reference_design.yaml for explanation of components
_target_: metta.agent.metta_agent.MettaAgent

observations:
  obs_key: grid_obs

clip_range: 0 # set to 0 to disable clipping
analyze_weights_interval: 300
l2_init_weight_update_interval: 0

components:
  #necessary layers: _core_, _action_embeds_, _action_, _value_
  #necessary input_source: _obs_

  _obs_:
    _target_: metta.agent.lib.obs_tokenizers.ObsTokenPadStrip
    sources:
      null

  obs_normalizer:
    _target_: metta.agent.lib.obs_tokenizers.ObsAttrValNorm
    sources:
      - name: _obs_

  obs_fourier:
    _target_: metta.agent.lib.obs_tokenizers.ObsAttrEmbedFourier
    num_freqs: 8
    attr_embed_dim: 8
    sources:
      - name: obs_normalizer

  obs_latent_query_attn:
    _target_: metta.agent.lib.obs_enc.ObsLatentAttn
    out_dim: 32
    use_mask: true
    num_query_tokens: 10
    query_token_dim: 32
    num_heads: 4
    num_layers: 1
    sources:
      - name: obs_fourier

  obs_latent_self_attn:
    _target_: metta.agent.lib.obs_enc.ObsSelfAttn
    out_dim: 128
    num_heads: 4
    num_layers: 2
    qk_dim: 32
    use_mask: false
    use_cls_token: true
    sources:
      - name: obs_latent_query_attn

  _core_:
    _target_: metta.agent.lib.lstm.LSTM
    sources:
      - name: obs_latent_self_attn
    output_size: 128
    nn_params:
      num_layers: 2

  critic_1:
    _target_: metta.agent.lib.nn_layer_library.Linear
    sources:
      - name: _core_
    nn_params:
      out_features: 1024
    nonlinearity: nn.Tanh
    effective_rank: true

  _value_:
    _target_: metta.agent.lib.nn_layer_library.Linear
    sources:
      - name: critic_1
    nn_params:
      out_features: 1
    nonlinearity: null

  actor_1:
    _target_: metta.agent.lib.nn_layer_library.Linear
    sources:
      - name: _core_
    nn_params:
      out_features: 512

  _action_embeds_:
    _target_: metta.agent.lib.action.ActionEmbedding
    sources:
      null
    nn_params:
      num_embeddings: 100
      embedding_dim: 16

  _action_:
    _target_: metta.agent.lib.actor.MettaActorSingleHead
    sources:
      - name: actor_1
      - name: _action_embeds_
