# see reference_design.yaml for explanation of components
_target_: metta.agent.metta_agent.MettaAgent

observations:
  obs_key: grid_obs

clip_range: 0 # set to 0 to disable clipping
analyze_weights_interval: 300
l2_init_weight_update_interval: 0

components:
  #necessary layers: _core_, _action_embeds_, _action_, _value_
  #necessary input_source: _obs_

  _obs_:
    _target_: metta.agent.lib.obs_enc.ObsAttn
    embed_dim: 8
    QV_dim: 32
    Q_hidden: 128
    K_hidden: 128
    V_hidden: 128
    sources:
      null

  _core_:
    _target_: metta.agent.lib.lstm.LSTM
    sources:
      - name: _obs_
    output_size: 128
    nn_params:
      num_layers: 2

  core_relu:
    _target_: metta.agent.lib.nn_layer_library.ReLU
    sources:
      - name: _core_

  critic_1:
    _target_: metta.agent.lib.nn_layer_library.Linear
    sources:
      - name: core_relu
    nn_params:
      out_features: 1024
    nonlinearity: nn.Tanh
    effective_rank: true

  _value_:
    _target_: metta.agent.lib.nn_layer_library.Linear
    sources:
      - name: critic_1
    nn_params:
      out_features: 1
    nonlinearity: null

  actor_1:
    _target_: metta.agent.lib.nn_layer_library.Linear
    sources:
      - name: core_relu
    nn_params:
      out_features: 512

  _action_embeds_:
    _target_: metta.agent.lib.action.ActionEmbedding
    sources:
      null
    nn_params:
      num_embeddings: 100
      embedding_dim: 16

  _action_:
    _target_: metta.agent.lib.actor.MettaActorSingleHead
    sources:
      - name: actor_1
      - name: _action_embeds_
