defaults:
  - /env/mettagrid/mettagrid@
  - _self_

sampling: 1

game:
  num_agents: 4
  map_builder:
    _target_: mettagrid.config.room.multi_room.MultiRoom
    num_rooms: 4
    border_width: 6

    room:
      _target_: mettagrid.config.room.terrain_from_numpy.TerrainFromNumpy
      border_width: ${sampling:1,6,3}
      agents: 1
      objects:
        altar: ${sampling:1,4,1}
        generator.red: ${sampling:1,5,1}
        mine.red: ${sampling:1,5,1}
        generator.blue: ${sampling:1,5,1}
        mine.blue: ${sampling:1,5,1}
        generator.green: ${sampling:1,5,1}
        mine.green: ${sampling:1,5,1}
    objects:
       altar:
         initial_items: ${choose:0,1}
