
defaults:
  - ../../mettagrid@

game:
  num_agents: 20

  map_builder:
    _target_: mettagrid.config.room.multi_room.MultiRoom
    num_rooms: 20
    border_width: 6

    room:
      _target_: mettagrid.config.room.random.Random
      width: ${uniform:15,100,30}
      height: ${uniform:15,100,30}
      border_width: ${uniform:1,6,3}

      agents: 1

      objects:
        altar: ${uniform:20,50,35}
        wall: ${uniform:60,100,25}

  objects:
    altar:
      cooldown: 255
      initial_items: 1
