defaults:
  - /env/mettagrid/mettagrid@
  - _self_

sampling: 1

game:
  num_agents: 4
  map_builder:
    _target_: mettagrid.room.multi_room.MultiRoom
    num_rooms: ${..num_agents}
    border_width: 6

    room:
      _target_: mettagrid.room.navigation.varied_terrain.VariedTerrain
      width: ${sampling:75,120,60}
      height: ${sampling:75,120,60}
      border_width: ${sampling:1,6,3}
      agents: 1
      style: balanced # ${choose:"all-sparse","balanced","dense","maze"}
      objects:
        altar: ${sampling:30,75,50}
  objects:
    altar:
      cooldown: 1000
      input_battery.red: 3
      output_heart: 1
      max_output: 5
      conversion_ticks: 1
      initial_items: 1
