defaults:
  - /env/mettagrid/mettagrid@
  - _self_

sampling: 1

game:
  num_agents: 4
  map_builder:
    _target_: mettagrid.config.room.multi_room.MultiRoom
    num_rooms: 4
    border_width: 6

    room:
      _target_: mettagrid.config.room.navigation.varied_terrain.VariedTerrain
      width: ${sampling:50,100,60}
      height: ${sampling:50,100,60}
      border_width: ${sampling:1,6,3}
      agents: 1
      style: maze # ${choose:"sparse-altars-dense-objects","all-sparse","all-dense","balanced","dense-altars-sparse-objects"}
      teams: ["team_1", "team_2", "team_3"]
      object_colors: ["red", "green", "blue"]

  objects:
    altar:
      cooldown: 1000
      input_battery: 3
      output_heart: 1
      max_output: 5
      conversion_ticks: 1
      initial_items: 1
