resources:
  cloud: aws
  any_of:
    - region: us-east-1
      use_spot: true
      accelerators: "L4:1"
      # Deep Learning Base OSS Nvidia Driver GPU AMI (Ubuntu 22.04, us-east-1, 2025-12-16)
      image_id: ami-0aa72c01534d8a449
    - region: us-east-1
      use_spot: true
      accelerators: "A10G:1"
      # Deep Learning Base OSS Nvidia Driver GPU AMI (Ubuntu 22.04, us-east-1, 2025-12-16)
      image_id: ami-0aa72c01534d8a449
    - region: us-east-1
      accelerators: "L4:1"
      # Deep Learning Base OSS Nvidia Driver GPU AMI (Ubuntu 22.04, us-east-1, 2025-12-16)
      image_id: ami-0aa72c01534d8a449
    - region: us-east-1
      accelerators: "A10G:1"
      # Deep Learning Base OSS Nvidia Driver GPU AMI (Ubuntu 22.04, us-east-1, 2025-12-16)
      image_id: ami-0aa72c01534d8a449
    - region: us-west-2
      use_spot: true
      accelerators: "L4:1"
      # Deep Learning Base OSS Nvidia Driver GPU AMI (Ubuntu 22.04, us-west-2, 2025-12-16)
      image_id: ami-0d967f418617783c4
    - region: us-west-2
      use_spot: true
      accelerators: "A10G:1"
      # Deep Learning Base OSS Nvidia Driver GPU AMI (Ubuntu 22.04, us-west-2, 2025-12-16)
      image_id: ami-0d967f418617783c4
    - region: us-west-2
      accelerators: "L4:1"
      # Deep Learning Base OSS Nvidia Driver GPU AMI (Ubuntu 22.04, us-west-2, 2025-12-16)
      image_id: ami-0d967f418617783c4
    - region: us-west-2
      accelerators: "A10G:1"
      # Deep Learning Base OSS Nvidia Driver GPU AMI (Ubuntu 22.04, us-west-2, 2025-12-16)
      image_id: ami-0d967f418617783c4
  cpus: 8+
  job_recovery:
    strategy: EAGER_NEXT_REGION
    max_restarts_on_errors: 3

file_mounts:
  /mnt/s3/softmax-public:
    source: s3://softmax-public
    mode: MOUNT_CACHED
  /mnt/s3/train_dir:
    source: s3://softmax-train-dir
    mode: MOUNT_CACHED

# `set -u`: Exit on undefined variables to catch missing env vars early
setup: set -u && bash <(curl -fsSL "https://raw.githubusercontent.com/${GITHUB_REPOSITORY}/${METTA_GIT_REF}/devops/skypilot/config/lifecycle/setup.sh")

# `set -e`: Ensure SkyPilot propagates exit codes from skypilot_run.sh (otherwise restart test fails)
run: set -e && /workspace/metta/devops/skypilot/config/skypilot_run.sh

envs:
  GITHUB_REPOSITORY: Metta-AI/metta
  GITHUB_PAT: ""

  METTA_RUN_ID: ""
  METTA_MODULE_PATH: ""
  METTA_ARGS: ""
  METTA_GIT_REF: main

  # s3 mount slows down uv, so we put DATA_DIR outside of /workspace/metta
  DATA_DIR: /mnt/s3/train_dir
secrets:
  # configured by launch script based on local credentials
  WANDB_PASSWORD: ""
  OBSERVATORY_TOKEN: ""
