# @package __global__

#POLICIES TO EVALUATE

#b.daphne.navigation_varied_obstacle_shapes_pretrained.r.1
#b.daphne.navigation_varied_obstacle_shapes.r.0
#navigation_poisson_sparser.r.2
#navigation_infinite_cooldown_sparser_pretrained.r.0
#navigation_infinite_cooldown_sparser.r.0
#navigation_poisson_sparser_pretrained.r.6

defaults:
  - override /agent: simple
  - override /eval: navigation
  - override /analyzer: eval_analyzer
  - _self_

trainer:
  env: /env/mettagrid/navigation/training/multienv
  evaluate_interval: 10

<<<<<<< HEAD
policy_uri:  wandb://run/b.daphne.varied_terrain_lessactions
=======
# policy: wandb://run/b.daveey.train.maze.sm.dr.warm.0
# baselines: wandb://run/b.daveey.train.maze.sm.11x11.0

# policy_uri: wandb://run/b.daveey.sm.train.er.new.0
# policy_uri: wandb://run/daveey.ar.cards.1
# policy_uri: wandb://run/b.daveey.t.32.instant
policy_uri:  wandb://run/b.georgedeane.terrain_multienv

# policy_uri: wandb://run/b.daphne.terrain_multienv_lessactions:v40
# policy_uri: wandb://run/b.georgedeane.navigation_terrain_training_v2
# npc_policy_uri: ${trained_policy_uri}
# eval_db_uri: wandb://artifacts/testing
#eval_db_uri: wandb://artifacts/navigation_db

>>>>>>> bacc28198537078ac65623b5f06796db052b2349
eval_db_uri: wandb://artifacts/navigation_db

analyzer:
  eval_stats_uri: ${run_dir}/eval_stats
  policy_uri: ${..policy_uri}
  analysis:
    metrics:
      - metric: episode_reward
  # output_path: s3://softmax-public/policydash/dashboard.html
  output_path: navigation_results/navigation.html

eval:
<<<<<<< HEAD
  env: /env/mettagrid/navigation/evals/navigation
  env_overrides:
    game:
      actions:
        attack:
          enabled: false
        put_items:
          enabled: false
        swap:
          enabled: false
        change_color:
          enabled: false
=======
  env: /env/mettagrid/navigation/training/varied_terrain
>>>>>>> bacc28198537078ac65623b5f06796db052b2349

  policy_uri: ${..policy_uri}
  # npc_policy_uri: ${..npc_policy_uri}
  eval_db_uri: ${..eval_db_uri} #file://daphne/sweep_stats
  policy_uris:
    - "wandb://run/b.daphne.varied_terrain_lessactions:v42"
    - "wandb://run/b.daphne.varied_terrain_lessactions_big"
    - "wandb://run/b.daphne.terrain_multienv_lessactions"
    - "wandb://run/b.daphne.terrain_multienv_lessactions_big"
    - "wandb://run/terrain_multienv_less_actions"


wandb:
  checkpoint_interval: 1

run_id: 2
run: ${oc.env:USER}.local.${run_id}
trained_policy_uri: ${run_dir}/checkpoints

sweep_params: "sweep/fast"
sweep_name: "${oc.env:USER}.local.sweep.${run_id}"
seed: null
