# @package __global__

#POLICIES TO EVALUATE

#b.daphne.navigation_varied_obstacle_shapes_pretrained.r.1
#b.daphne.navigation_varied_obstacle_shapes.r.0
#navigation_poisson_sparser.r.2
#navigation_infinite_cooldown_sparser_pretrained.r.0
#navigation_infinite_cooldown_sparser.r.0
#navigation_poisson_sparser_pretrained.r.6

defaults:
  - override /agent: simple
  - override /eval: navigation
  - override /analyzer: eval_analyzer
  - _self_

trainer:
  env: /env/mettagrid/navigation/training/multienv
  evaluate_interval: 10

policy_uri:  wandb://run/b.daphne.varied_terrain_lessactions
eval_db_uri: wandb://artifacts/navigation_constrained_actions

analyzer:
  eval_stats_uri: ${run_dir}/eval_stats
  policy_uri: ${..policy_uri}
  analysis:
    metrics:
      - metric: episode_reward
  # output_path: s3://softmax-public/policydash/dashboard.html
  output_path: navigation_results/navigation.html

eval:
  env: /env/mettagrid/navigation/evals/navigation
  env_overrides:
    game:
      actions:
        attack:
          enabled: false
        put_items:
          enabled: false
        swap:
          enabled: false
        change_color:
          enabled: false

  policy_uri: ${..policy_uri}
  # npc_policy_uri: ${..npc_policy_uri}
  eval_db_uri: ${..eval_db_uri} #file://daphne/sweep_stats
  policy_uris:
    - "wandb://run/b.daphne.varied_terrain_lessactions"
    - "wandb://run/b.daphne.varied_terrain_lessactions_big"
    - "wandb://run/b.daphne.terrain_multienv_lessactions"
    - "wandb://run/b.daphne.terrain_multienv_lessactions_big"
    - "wandb://run/terrain_multienv_less_actions"


wandb:
  checkpoint_interval: 1

run_id: 1
run: ${oc.env:USER}.local.${run_id}
trained_policy_uri: ${run_dir}/checkpoints

sweep_params: "sweep/fast"
sweep_name: "${oc.env:USER}.local.sweep.${run_id}"
seed: null
