# @package __global__

#POLICIES TO EVALUATE

#b.daphne.navigation_varied_obstacle_shapes_pretrained.r.1
#b.daphne.navigation_varied_obstacle_shapes.r.0
#navigation_poisson_sparser.r.2
#navigation_infinite_cooldown_sparser_pretrained.r.0
#navigation_infinite_cooldown_sparser.r.0
#navigation_poisson_sparser_pretrained.r.6

defaults:
  - _self_

trainer:
  env: /env/mettagrid/navigation/training/multienv_with_cylinder
  evaluate_interval: 10

# policy: wandb://run/b.daveey.train.maze.sm.dr.warm.0
# baselines: wandb://run/b.daveey.train.maze.sm.11x11.0

# policy_uri: wandb://run/b.daveey.sm.train.er.new.0
# policy_uri: wandb://run/daveey.ar.cards.1
# policy_uri: wandb://run/b.daveey.t.32.instant

# policy_uri: wandb://run/b.daphne.terrain_multienv_lessactions:v40
# policy_uri: wandb://run/terrain_multienv_3_single_agent:v63
policy_uri: wandb://run/b.daphne.terrain_prioritized_styles_pretrained_r:v1

# npc_policy_uri: ${trained_policy_uri}
# eval_db_uri: wandb://artifacts/testing
#eval_db_uri: wandb://artifacts/navigation_db
# eval_db_uri: wandb://artifacts/terrain_multienv_prioritized_all

eval_db_uri: wandb://artifacts/navigation_db

analyzer:
  eval_stats_uri: ${run_dir}/eval_stats
  policy_uri: ${..policy_uri}
  analysis:
    metrics:
      - metric: episode_reward
  # output_path: s3://softmax-public/policydash/dashboard.html
 # output_path: navigation_results/navigation.html
  output_path: navigation_results/navigation.html

sim:
  env: /env/mettagrid/multiagent/evals/spine_maze_extended
  eval_db_uri: ${..eval_db_uri}



wandb:
  enabled: true
  track: true
  checkpoint_interval: 1

run_id: 3
run: ${oc.env:USER}.local.${run_id}
trained_policy_uri: ${run_dir}/checkpoints

sweep_params: "sweep/fast"
sweep_name: "${oc.env:USER}.local.sweep.${run_id}"
seed: null
