# @package __global__

defaults:
  - _self_

run: pasha_test_run_5
policy_uri: wandb://run/daphne.nav_memory_sequence.baseline.06-20

stats_server_uri: https://api.observatory.softmax-research.net

trainer:
  checkpoint:
    checkpoint_interval: 50
    wandb_checkpoint_interval: 50
  simulation:
    evaluate_interval: 50
