# @package __global__

seed: null

defaults:
  - _self_

trainer:
  env: /env/mettagrid/simple
  evaluate_interval: 200

policy_uri: pytorch:///tmp/puffer_metta.pt
npc_policy_uri: null
eval_db_uri: null

env_overrides:
  game:
    max_steps: 1000

eval:
  policy_uri: ${..policy_uri}
  npc_policy_uri: ${..npc_policy_uri}
  eval_db_uri: ${..eval_db_uri}

analyzer:
  analysis:
    metrics:
      - metric: "action.use.altar.agent"

sweep:
  metric: "action.use.altar.agent"

wandb:
  enabled: true
  checkpoint_interval: 10

run_id: 6
run: ${oc.env:USER}.local.${now:MMDD}.${run_id}
trained_policy_uri: ${run_dir}/checkpoints
sweep_name: "${oc.env:USER}.local.sweep.${run_id}"
