name: Asana Integration

on:
  pull_request:
    types: [opened]

jobs:
  asana_integration:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      actions: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Ensure Asana Task
        id: ensure-asana-task
        uses: ./.github/actions/asana/ensure-task
        with:
          title: ${{ github.event.pull_request.title }}
          description: ${{ github.event.pull_request.body }}
          project_id: ${{ vars.ASANA_PROJECT_GID }}
          workspace_id: ${{ vars.ASANA_WORKSPACE_GID }}
          asana_token: ${{ secrets.ASANA_API_KEY }}
          github_url: ${{ github.event.pull_request.html_url }}
          github_url_field_id: ${{ vars.ASANA_GITHUB_URL_FIELD_GID }}

      - name: Update PR Description
        uses: ./.github/actions/asana/update-pr-description
        with:
          pr_number: ${{ github.event.pull_request.number }}
          repo: ${{ github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}
          task_url: ${{ steps.ensure-asana-task.outputs.task_url }}
