name: "Build Docker Image"
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

on:
  workflow_dispatch: {}
  schedule:
    - cron: "0 7 * * *" # 7 AM UTC (11 PM PST / 12 AM PDT)

jobs:
  build-and-push-image:
    runs-on: ubuntu-4core
    timeout-minutes: 20 # up from default of 10 minutes
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        uses: ./.github/actions/docker-build
        with:
          image_name: metta
          dockerfile: devops/docker/Dockerfile
          aws_role: ${{ vars.AWS_ROLE }}
