name: Migrate Library DB

on:
  workflow_dispatch: {}

jobs:
  migrate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Migrate Library DB
        working-directory: ./library
        env:
          DATABASE_URL: "${{ secrets.LIBRARY_DATABASE_URL }}"
        run: pnpm run db:migrate
